[submodule "Meta-Remote"]
	path = remote
	url = git@github.com:Meta-Team/Meta-Remote.git
	branch = master
[submodule "lib/cpputest"]
	path = lib/cpputest
	url = https://github.com/cpputest/cpputest.git
